<li>
  <tr>
    <td class="tdadmin">
      <% if object.admin? %>
       Admin
      <% else %>    
        -  
      <% end %>
      <br />
      
      <% if object.teamleader? %>
        TeamLead
      <% else %>    
        - 
      <% end %>
    </td>

    <td class="tdgravatar">
      <%= gravatar_for object, :size => 30 %><br />
      <strong><%= mail_to object.email, "Email Me" %></strong>
    </td>
  
  <td class="tdnamefield">
    <strong><%= link_to object.name, object %></strong> <br />
    <strong>Home:</strong> <%= object.homephone %> <br />
    <strong>Cell:</strong> <%= object.cellphone %><br /><br />
  </td>
     
  <td width="20px">
    <% if object == current_user %>
      <%= link_to "edit",  edit_user_path(object), :class => "button" %>
    <% end %>  
  </td>    
  </tr>
</li>
