<tr>
	<td width="200px" class="eventcolumn">
	    <strong>Name: </strong><br />
		<%= object.name.capitalize %>
		<br /><br />
		<strong>Contact: </strong><%= object.contact %><br />
		<strong>Phone: </strong><%= object.phone %>
		<br />
	</td>
	<td>
		<strong>WebSite: </strong><%= link_to object.website, object.website %>
		<br /><br />
		<strong>Description: </strong><%=simple_format h object.description %>		
	</td>
</tr>
<tr>
	<td colspan=2 class="eventcolumn">
		<% if !current_user.nil? %>
			<%= link_to "delete", object, :method => :delete, 
	                    :confirm => "You sure you want to delete this resource?",
	                    :title => "Delete #{object.id}", :class => "button" %>
		
			<%= link_to "edit", edit_resource_path(object), :class => "button" %>
		<br />

		<% end %>
		
	</td>
</tr>
