<h1>Create Resource Entry</h1>

<% if current_user.admin? %>
  <%= form_for(@newresource) do |f| %>
  
    <%= render 'shared/error_messages', :object => f.object %>

    <table><tr>
	<td class="eventcolumn">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :contact %><br />
      <%= f.text_field :contact %>
    </div>
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :website %><br />
      <%= f.text_field :website, :maxlength=>'40' %>
    </div>
    <div class="field">
      <%= f.label :category %><br />
      <%= f.text_field :category %>
    </div>
    </td class="eventcolumn">
	<td>
    <div class="field">
      <%= f.label :description %><br />
	  <%= f.text_area :description, :size => "60x12" %>
    </div>
    </td>
	</tr>
	</table>
  
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
<% else %>
  Only Administrators Can Create A Resource...
<% end %>
